{erl_opts, [debug_info]}.
{deps, [
  {dtl_dep, {git, "https://github.com/Licenser/dtl_dep.git", {branch, "master"}}},
  {merl, ".*", {git, "https://github.com/Licenser/merl.git", {branch, "master"}}}
]}.
{plugins, [
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/project-fifo/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.
